
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }

    ul {
        list-style: none;
    }

    body {
    background-image: url(./assets/deepgalaxy.jpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 100% auto;
    }

    body * { 
    font-family: 'Merienda', cursive; sans-serif;
    font-family: 'Merienda One', cursive;
    line-height: 200%;
    }

       /* Simple border with one color is like...
    border: 5px solid red */


    header {
        margin-top: 80px;
        text-align: center;
        height: calc (120px + 32px);
    }

    header div {
        width: 320px;
        margin: auto;
        background-image: linear-gradient(90deg, #9572fc 0%, #43E7AD);
        border-radius: 50% ;
        display: flex;
        padding: 4px;;
        transition: transform.3s;
    }

    header div:hover {
        transform: scale(1.1);
}

    header div img {
        width: 100%;
        border-radius: 50% ;
        margin: auto;
        }

    main { 
    max-width: 1000px;
    width: 90%;
    margin: 40px auto;
    display: grid;
    gap: 30px;
    }

    section { 
    color: aliceblue;
    background-image: linear-gradient(90deg, #9572fc 0%, #43E7AD);
    padding-top: 5px;
    border-radius: 10px;
    }

    section div {
    background-color: #2A2634;
    padding: 30px;
    padding-top: 25px;
    border-radius: 20px;
    }

    section h2 {
    letter-spacing: -0.50px;
    font-size: 50px;
    }
    section p {
    letter-spacing: -0.30px;
    font-size: 25px;
    }

    section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
    }
    section ul li {
    transition: transform.3s;
    }
    section ul li:hover {
    transform: scale(1.1);
    }

    .Games_list img {
    width: 300px;
    border-radius: 30px;
    border: 3px solid #443E54;
    }

    .Channel_list img {
    width: 250px;
    border-radius: 50px;
    border: 3px solid #443E54;
    }

    .Dictionaries_list img {
    width: 250px;
    border-radius:50px ;
    border: 3px solid #443E54;
    }

    /*animation*/

    header div {
        animation: fromTop .7s .2s backwards;
    }
    main section {
        animation: fromBottom .7s backwards;
    }
    main section:nth-child(1) {
        animation-delay:0 ;
    }
    main section:nth-child(2) {
        animation-delay:.4s ;
    }
    main section:nth-child(3) {
        animation-delay:.8s ;
    }

    @keyframes fromTop {
        from {transform: translateY(-30px);
              opacity: 0;}
        to { transform: translateY(0);
            opacity: 1;}
            }

    @keyframes fromBottom {
        from {transform: translateY(30px);
            opacity: 0;}
        to { transform: translateY(0);
            opacity: 1;}
             }

   
        
    